.TeamTab {
    @include flexCenter;
    align-items: flex-start;
    width: 100%;
    height: $mainHeight;
    max-width: 1366px;
    background-color: #FFFFFF;
    &__list{
        h2{
            font-size: 48px;
        }
        width: 50%;
        height: 100%;
    }
    &__desc{
        @include flexCenter;
        width: 50%;
        height: 100%;
        &__container{
            h2{
                margin: 10px 0;
                font-size: 32px;
            }
            h4{
                font-size: 18px;
                margin-bottom: 5px;
            }
        }
    }
}