@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexMain{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
