@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "../../node_modules/bootstrap/scss/bootstrap";

@import "./Mixins";

@import "./Variables";

@import "./layouts/ProjectsTab";
@import "./layouts/Project";
@import "./layouts/CreateProject";
@import "./layouts/TeamTab";
@import "./layouts/AddPersonelModal";
@import "./layouts/Payments";
@import "./layouts/EditPersonel";

@import "./reuseable/Navbar";
@import "./reuseable/ProjectCondensed";
@import "./reuseable/Member";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #c4c4c4;
}
